
	{% if confirm_message %}
    <div class="modal-dialog modal-md">
    {% else %}
    <div class="modal-dialog">
    {% endif %}
      	<div class="modal-content">
	        <div class="modal-header">
	        	<a class="btn close" aria-label="Close" href="javascript:void(0);" onclick="closeDialog();">
	        		<span aria-hidden="true">×</span>
	        	</a>
	        	<h4 class="modal-title" id="dialogModalLabel">{{ title }}</h4>
	        </div>
	        <form id="movieForm" class="form-horizontal">
	        	{% csrf_token %}
	        	<div class="modal-body">
                    {% if form.title.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="{{ form.title.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Title</label>
                        <div class="col-xs-12 col-sm-9" id="{{ form.title.id_for_label }}_popover">
                            {{ form.title }}
                            {% if form.title.errors %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            {% endif %}
                        </div>
	        		</div>
                    {% if form.desciption.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="{{ form.description.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Description</label>
                        <div class="col-xs-12 col-sm-9" id="{{ form.description.id_for_label }}_popover">
                            {{ form.description }}
                            {% if form.description.errors %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            {% endif %}
                        </div>
	        		</div>
                    {% if form.lens_id.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="{{ form.lens_id.id_for_label }}" class="col-xs-12 col-sm-3 control-label">MovieLens ID</label>
                        <div class="col-xs-12 col-sm-9" id="{{ form.lens_id.id_for_label }}_popover">
                            {{ form.lens_id }}
                            {% if form.lens_id.errors %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if form.imdb_id.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="{{ form.imdb_id.id_for_label }}" class="col-xs-12 col-sm-3 control-label">IMDB ID</label>
                        <div class="col-xs-12 col-sm-9" id="{{ form.imdb_id.id_for_label }}_popover">
                            {{ form.imdb_id }}
                            {% if form.imdb_id.errors %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if form.tmdb_id.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="{{ form.tmdb_id.id_for_label }}" class="col-xs-12 col-sm-3 control-label">TMDB ID</label>
                        <div class="col-xs-12 col-sm-9" id="{{ form.tmdb_id.id_for_label }}_popover">
                            {{ form.tmdb_id }}
                            {% if form.tmdb_id.errors %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if form.link.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="{{ form.link.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Netflix Link</label>
                        <div class="col-xs-12 col-sm-9" id="{{ form.link.id_for_label }}_popover">
                            {{ form.link }}
                            {% if form.link.errors %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if form.trailer.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="{{ form.trailer.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Trailer Link</label>
                        <div class="col-xs-12 col-sm-9" id="{{ form.trailer.id_for_label }}_popover">
                            {{ form.trailer }}
                            {% if form.trailer.errors %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if form.genres.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="{{ form.genres.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Movie Genres</label>
                        <div class="col-xs-12 col-sm-9" id="{{ form.genres.id_for_label }}_popover">
                            {{ form.genres }}
                            {% if form.genres.errors %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            {% endif %}
                        </div>
                    </div>
	        	</div>
        		<div class="modal-footer">
                    {% if movie == None %}
                    <a class="btn btn-primary" href="javascript:void(0);" onclick="updateMovie();">Add</a>
                    {% else %}
                    <a class="btn btn-primary" href="javascript:void(0);" onclick="updateMovie();">Update</a>
                    <a class="btn btn-danger" href="javascript:void(0);" onclick="deleteMovie();">Delete</a>
                    {% endif %}
                    <a class="btn btn-default" href="javascript:void(0);" onclick="closeDialog();">Close</a>
        		  	
        		</div>
	        </form>

      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

	<script type="text/javascript">
        {% for field in form %}
        {% if field.errors %}
        var {{ field.id_for_label}}_errors = '';
        {% for error in field.errors %}
        {{ field.id_for_label }}_errors += '{{ error|escape }}';
        {% endfor %}
        $("#{{ field.id_for_label }}_popover").popover({
            animation: true,
            html: true,
            content: {{ field.id_for_label }}_errors,
            placement: 'right',
            trigger: 'hover'
        });
        {% endif %}
        {% endfor %}


        // detect submit button event to use ajax method to post the form
        // and retrive the return data back if there is error object in form object.
        function updateMovie() {
            $.ajax({
                type: "POST",
                cache: false,
                {% if movie == None %}
                url: '/tool/movie/0',
                {% else %}
                url: '/tool/movie/{{movie.id}}',
                {% endif %}
                data: $("#movieForm").serialize(),
                success: function(data) {
                    if (data != "") {
                        $("#dialogModal").html(data);    
                    } else {
                        location.reload(true);
                    };
                    
                },
                async: true
            });
        }

        function deleteMovie() {
            $.ajax({
                type: "POST",
                cache: false,
                url: '/tool/movie/delete/{{movie.id}}',
                data: $("#movieForm").serialize(),
                success: function(data) {
                    location.reload(true);
                },
                async: true
            });
        }

		// detect submit button event to use ajax method to post the form
		// and retrive the return data back if there is error object in form object.
		// $('#projectForm').on('submit',function(e){
		//     $(this).ajaxForm({
		//         type : "POST",
		//         cache : false,
		//         url : $(this).attr('action'),
		//         data : $(this).serialize(),
		//         success : function(data) {
		//             $("#dialogModal").html(data);
		//         },
		//         async:false
		//     }).submit();
		//     e.stopPropagation();
		// });

	</script>